<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/eslaura" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/laura-hallam-59771331/" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>
</div>

