<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/eslaura" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram"></i>Instagram</a>
    <a href="https://www.linkedin.com/in/laura-hallam-59771331/" target="_blank"><i class="fa fa-linkedin"></i>Linkedin</a>
  </div>
  <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
</div>

