<div class="folk-frame js-frame" style="">
    <div class="folk-frame__container" style="height: 361px; width: 1372px;">
      <nav class="folk-nav js-nav folk-nav--top"><ul id="menu-main_menu_en" class="folk-nav__list">
      <%= render 'shared/navbar' %>
      </nav>
    <footer class="folk-mobile-menu__footer">
      <div class="folk-mobile-menu__social-blocks || mobile-social-blocks">
          <div class="mobile-social-blocks__item">
           <%= render 'shared/footer' %>
          </div>
        </div>
      </footer>
    </div>
  </main>
</section>


