<div class="about">
  <div class="about_content">
    <h1>About Me</h1>
    <p>I am an experienced creative professional with extensive industry experience who has found a real love of coding.</p>

    <p> While at an agency I began working with web developers, teaching myself to code became a necessity in order to have the language and understanding to do this more effectively. Realising very quickly that I wanted to take the learning more seriously. I enrolled full time in a coding boot camp. </p>

    <p>blah blah</p>

    <h2>Tool kit </h2>
    <p>Ruby, Ruby on Rails, CSS, HTML </p>
  </div>
</div>
