<h1>About Me</h1>
<p>I am an experienced creative professional with extensive industry experience who has found a real love of coding. I’m always positive, regardless of the challenge ahead, able to develop professional relationships easily with clients and the team alike, have excellent communication skills and thrive working in a fast-paced environment.</p>

<h2>Tool kit </h2>
<p>Ruby</p>
<p>Ruby on Rails</p>
