<div class="about">
  <div class="about_content">
    <h1>Contact me</h1>
    <p>Please feel free to drop me a line at anytime I look forward to hearing from you.</p>
    <p><i class="fa fa-mobile" aria-hidden="true"></i> 07722 167352</p>

    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> laurahallam2211@gmail.com</p>
 </div>
</div>
