.footer-links {
  color: $main-color;
  display: flex;
  height: 100%; /* 100% Full-height */
  // width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
   /* Stay on top */
  top: 75%; /* Stay at the top */
  left: 5%;
}

.footer-item{
  // border: 1px solid $main-color;
  // width: 100px;  /* Or whatever */
  height:50px; /* Or whatever */
  font-size: 40px;
  padding: 10px;
  margin: 2px;
  border: 5px solid $main-color;
  color: $background-color;
  background-color: $main-color;
}

.footer-item p {
  margin: auto;
}

.footer-item {
  color: $background-color;
  background-color: $main-color;
  text-decoration: none;
}

.sticky-footer {
    position: sticky;
    z-index: 999999999999999999;
}
