.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.7;
}
.footer{
 background: white;
  // transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  // display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  position:absolute;
  bottom:0;
}

.fa{
  color:black;
}
